<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>NightRun</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    </head>
    <body class="bg-slate-50">
        <div id="app" class="container mx-auto">
            <div class="flex flex-col lg:flex-inline gap-4">
                <div class="flex flex-col gap-2">
                    <div
                        v-for="(attributeName, attr) in {image:'Image', nb:'Numéro', rdv:'RDV', location:'Direction', petit:'9km/h', long:'11km/h' }"
                    >
                        <label class="block mb-2 text-sm font-medium text-gray-900">{{attributeName}}</label>
                        <input v-model="data[attr]" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300" />
                    </div>

                    <div class="flex items-center" v-for="(attributeName, attr) in {fractionne:'Fractionné', frontale:'Frontale', eau:'Eau' }">
                        <input
                            :id="attr"
                            v-model="data[attr]"
                            type="checkbox"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                        />
                        <label :for="attr" class="ml-2 text-sm font-medium text-gray-900">{{attributeName}}</label>
                    </div>
                </div>

                <div class="md:inline-flex gap-2">
                    <div
                        @click="copyClipboard"
                        class="whitespace-break-spaces cursor-pointer block p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100"
                    >
                        {{text}}
                    </div>

                    <div>
                        <img ref="image" @click="copyImage" class="cursor-pointer rounded-lg shadow-lg object-fit mb-2 hover:brightness-90" />
                        <button
                            @click="screenshot"
                            type="button"
                            class="w-full text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5"
                        >
                            Télécharger image
                        </button>
                    </div>
                </div>
            </div>

            <!-- RENDER -->
            <div id="render" class="hidden relative w-[1200px] h-[630px]">
                <div class="w-full h-full bg-cover bg-center scale-110" :class="'bg-[url(\''+ data.image +'\')]'"></div>
                <div class="absolute bottom-5 left-5 text-4xl text-red-600 font-semibold uppercase">RDV {{data.rdv}}</div>
                <div class="absolute left-5 top-5 -rotate-[15deg] flex flex-col items-center justify-center gap-2">
                    <div class="text-red-600 text-6xl font-bold font-serif">NightRun</div>
                    <div class="mt-10 text-white bg-red-600/80 rounded-xl px-10 py-2 text-3xl font-black">
                        <div class="-translate-y-3">#{{data.nb}}</div>
                    </div>
                </div>

                <div
                    class="absolute right-5 top-5 p-10 max-w-[18rem] aspect-square rounded-full bg-red-600/80 flex flex-col justify-center items-center rotate-[20deg] text-white"
                >
                    <div class="text-center text-4xl font-bold uppercase -translate-y-3">{{distances}}</div>
                    <div class="text-center text-2xl font-light uppercase -translate-y-2 font-serif">{{data.location}}</div>
                </div>
            </div>
        </div>

        <script>
            new Vue({
                el: "#app",
                data: {
                    data: {
                        fractionne: false,
                        frontale: false,
                        eau: false,
                        rdv: "19h15 devant l'office de tourisme",
                        nb: "1",
                        petit: new Date().getDay() == 4 ? "9" : "5",
                        long: new Date().getDay() == 4 ? "11" : "7",
                        location: "Parc Méric",
                        image: "https://scontent-mrs2-2.xx.fbcdn.net/v/t39.30808-6/337697515_6007725255962270_3105285649272896230_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=-lyeM4ZvjhIAX_vkUpN&_nc_ht=scontent-mrs2-2.xx&oh=00_AfDFKUeccBfIxAvktWcsNyKUFv9QO_IC-m4eoY2CEdDi-w&oe=64282130",
                    },
                    blob: null,
                    timeout: null,
                },
                methods: {
                    copyClipboard() {
                        navigator.clipboard.writeText(this.text).then(
                            () => {},
                            () => {}
                        )
                    },
                    copyImage() {
                        navigator.clipboard.write([new ClipboardItem({ "image/png": this.blob })]).then(() => {})
                    },
                    screenshot() {
                        const link = document.createElement("a")
                        link.href = URL.createObjectURL(this.blob)
                        link.download = "NightRun-" + this.data.nb
                        document.body.appendChild(link)
                        link.click()
                        document.body.removeChild(link)
                    },
                    render() {
                        html2canvas(document.querySelector("#render"), {
                            onclone(clonedDoc) {
                                clonedDoc.querySelector("#render").style.display = "block"
                            },
                            useCORS: true,
                            allowTaint: true,
                        }).then(canvas => {
                            canvas.toBlob(blob => {
                                this.blob = blob
                                this.$refs.image.src = URL.createObjectURL(blob)
                            })
                        })
                    },
                },
                computed: {
                    distances() {
                        if (this.data.fractionne) return "fractionné"
                        const d = []
                        if (this.data.petit.length > 0) d.push(this.data.petit)
                        if (this.data.long.length > 0) d.push(this.data.long)
                        return d.join("&") + "km"
                    },
                    text() {
                        return `Bonjour à toutes et tous,\nCe soir ce sera la sortie #${this.data.nb} 😀\n🏁 Nous vous donnons rendez vous à ${
                            this.data.rdv
                        }\n\nNous irons en direction de ${this.data.location}\n${
                            this.data.petit.length > 0 ? `📍${this.data.fractionne ? "Footing" : "Un run"} de ${this.data.petit}km à 9km/h 🏃‍♀️\n` : ""
                        }${this.data.long.length > 0 ? `📍${this.data.fractionne ? "Footing" : "Un run"} de ${this.data.long}km à 11km/h 🏃‍♀️\n` : ""}${
                            this.data.frontale ? "\nPensez à prendre votre frontale🔦🔦\n" : ""
                        }${
                            this.data.eau ? "\nPensez à prendre de l'eau 💧\n" : ""
                        }\nÀ ce soir,\nL'équipe NightRun Montpellier\n#nightrun #montpellier #running`
                    },
                },
                mounted() {
                    setTimeout(() => this.render(), 100)
                },
                watch: {
                    data: {
                        handler(value) {
                            clearTimeout(this.timeout)

                            this.timeout = setTimeout(() => this.render(), 500)
                        },
                        deep: true,
                    },
                },
            })
        </script>
    </body>
</html>
