<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>NightRun</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
    </head>
    <body class="bg-slate-50">
        <div id="app">
            <div class="container mx-auto">
                <h1 class="text-center text-4xl font-bold text-gray-900 mb-4">NightRun Post</h1>
                <div class="flex flex-col lg:flex-inline gap-4">
                    <div class="grid grid-cols-2 gap-2">
                        <div>
                            <label class="block mb-2 text-sm font-medium text-gray-900">Image</label>
                            <div class="flex gap-2">
                                <input
                                    v-model="data.image"
                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300"
                                />
                                <label
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        stroke-width="1.5"
                                        stroke="currentColor"
                                        class="w-6 h-6"
                                    >
                                        <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5"
                                        />
                                    </svg>

                                    <input class="hidden" type="file" accept="image/*" @change="changeImage" />
                                </label>
                            </div>
                        </div>

                        <div
                            v-for="(attributeName, attr) in {nb:'Numéro', rdv:'RDV', location:'Direction', petit:'Distance 9km/h', long:'Distance 11km/h' }"
                        >
                            <label class="block mb-2 text-sm font-medium text-gray-900">{{attributeName}}</label>
                            <input
                                v-model="data[attr]"
                                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300"
                            />
                        </div>

                        <div class="flex items-center" v-for="(attributeName, attr) in {fractionne:'Fractionné', frontale:'Frontale', eau:'Eau' }">
                            <input
                                :id="attr"
                                v-model="data[attr]"
                                type="checkbox"
                                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500"
                            />
                            <label :for="attr" class="ml-2 text-sm font-medium text-gray-900">{{attributeName}}</label>
                        </div>
                    </div>

                    <div class="grid md:grid-cols-2 gap-2">
                        <div>
                            <div
                                @click="copyClipboard"
                                class="cursor-pointer font-sans overflow-hidden p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100"
                                v-html="htmlText"
                            ></div>

                            <button
                                @click="copyClipboard"
                                type="button"
                                class="w-full mt-2 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5"
                            >
                                Copier texte
                            </button>
                        </div>

                        <div>
                            <img ref="image" @click="copyImage" class="cursor-pointer rounded-lg shadow-lg object-fit hover:brightness-90" />
                            <button
                                @click="copyImage"
                                type="button"
                                class="w-full mt-2 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5"
                            >
                                Copier image
                            </button>
                            <button
                                @click="screenshot"
                                type="button"
                                class="w-full mt-2 text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5"
                            >
                                Télécharger
                            </button>
                        </div>
                    </div>

                    <div class="text-center">
                        <a class="font-medium text-blue-600 hover:underline" target="_blank" href="https://www.facebook.com/NightRunMontpellier"
                            >NightRun Montpellier</a
                        >
                    </div>
                </div>
            </div>

            <!-- RENDER -->
            <div id="render" class="hidden relative w-[1200px] h-[630px]">
                <div class="w-full h-full bg-cover bg-center scale-110" :class="'bg-[url(\''+ data.image +'\')]'"></div>
                <div class="absolute bottom-5 left-5 text-4xl text-red-600 font-semibold uppercase">RDV {{data.rdv}}</div>
                <div class="absolute left-5 top-5 -rotate-[15deg] flex flex-col items-center justify-center gap-2">
                    <div class="text-red-600 text-6xl font-bold font-serif">NightRun</div>
                    <div class="mt-10 text-white bg-red-600/80 rounded-xl px-10 py-2 text-3xl font-black">
                        <div class="-translate-y-3">#{{data.nb}}</div>
                    </div>
                </div>

                <div
                    class="absolute right-5 top-5 p-5 max-w-[18rem] aspect-square rounded-full bg-red-600/80 flex flex-col justify-center items-center rotate-[20deg] text-white"
                >
                    <div class="text-center text-3xl font-bold uppercase -translate-y-3">{{distances}}</div>
                    <div class="text-center text-2xl font-light uppercase -translate-y-2 font-serif">{{data.location}}</div>
                </div>
            </div>

            <div v-if="copy" class="fixed w-full bottom-5 flex justify-center">
                <div class="px-10 text-center py-2 flex bg-blue-500 text-white rounded-lg">
                    Copié ! Collez sur le post FB
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z"
                        />
                    </svg>
                </div>
            </div>
        </div>

        <script>
            new Vue({
                el: "#app",
                data: {
                    data: {
                        fractionne: false,
                        frontale: false,
                        eau: false,
                        rdv: "19h15 devant l'office de tourisme",
                        nb: "1",
                        petit: new Date().getDay() == 4 ? "9" : "5",
                        long: new Date().getDay() == 4 ? "11" : "7",
                        location: "Parc Méric",
                        image: "https://media.istockphoto.com/id/1154557075/fr/photo/grand-groupe-de-gens-athl%C3%A9tiques-heureux-traversant-la-nature.jpg?s=170667a&w=0&k=20&c=I4uorxONGFZ7KlXIizBuUL2eTTRmZ6w3EjS8l_S4hw8=",
                    },
                    blob: null,
                    timeout: null,
                    copy: false,
                },
                methods: {
                    copyClipboard() {
                        this.copy = true
                        setTimeout(() => {
                            this.copy = false
                        }, 2000)
                        navigator.clipboard.writeText(this.text).then(
                            () => {},
                            () => {}
                        )
                    },
                    copyImage() {
                        this.copy = true
                        setTimeout(() => {
                            this.copy = false
                        }, 2000)
                        navigator.clipboard.write([new ClipboardItem({ "image/png": this.blob })]).then(() => {})
                    },
                    screenshot() {
                        const link = document.createElement("a")
                        link.href = URL.createObjectURL(this.blob)
                        link.download = "NightRun-" + this.data.nb
                        document.body.appendChild(link)
                        link.click()
                        document.body.removeChild(link)
                    },
                    render() {
                        html2canvas(document.querySelector("#render"), {
                            onclone(clonedDoc) {
                                clonedDoc.querySelector("#render").style.display = "block"
                            },
                            useCORS: true,
                            allowTaint: true,
                        }).then(canvas => {
                            canvas.toBlob(blob => {
                                this.blob = blob
                                this.$refs.image.src = URL.createObjectURL(blob)
                            })
                        })
                    },
                    changeImage(e) {
                        const file = e.target.files[0]
                        if (!file) return
                        this.$set(this.data, "image", URL.createObjectURL(file))
                    },
                },
                computed: {
                    distances() {
                        if (this.data.fractionne) return "fractionné"
                        const d = []
                        if (this.data.petit.length > 0) d.push(this.data.petit)
                        if (this.data.long.length > 0) d.push(this.data.long)
                        return d.join("&") + "km"
                    },
                    text() {
                        return `Bonjour à toutes et tous,\nCe soir ce sera la sortie #${this.data.nb} 😀\n🏁 Nous vous donnons rendez vous à ${
                            this.data.rdv
                        }\n\nNous irons en direction de ${this.data.location}\n\nAu programme ce soir :\n${
                            this.data.petit.length > 0 ? `📍${this.data.fractionne ? "Footing" : "Un run"} de ${this.data.petit}km à 9km/h 🏃‍♀️\n` : ""
                        }${this.data.long.length > 0 ? `📍${this.data.fractionne ? "Footing" : "Un run"} de ${this.data.long}km à 11km/h 🏃‍♀️\n` : ""}${
                            this.data.fractionne ? "Suivi d'une séance de fractionné\n" : ""
                        }\n${this.data.frontale ? "Pensez à prendre votre frontale🔦🔦\n" : ""}${
                            this.data.eau ? "Pensez à prendre de l'eau 💧\n" : ""
                        }À ce soir,\nL'équipe NightRun Montpellier\n#nightrun #montpellier #running`
                    },
                    htmlText() {
                        return this.text.replaceAll("\n", "<br/>")
                    },
                },
                mounted() {
                    setTimeout(() => this.render(), 100)
                },
                watch: {
                    data: {
                        handler(value) {
                            clearTimeout(this.timeout)

                            this.timeout = setTimeout(() => this.render(), 500)
                        },
                        deep: true,
                    },
                },
            })
        </script>
    </body>
</html>
